*.swp
.DS_Store
.bitgrin*
node*
!node_clients
!node_clients.rs
target
*/Cargo.lock
*.iml
bitgrin.log
wallet.seed
test_output
wallet_data
bg_wallet_data
wallet/db
.idea/
/releases/
.vscode/
build/
debian/.debhelper/
debian/*.log
debian/bitgrin.substvars
debian/bitgrin/usr/
debian/files
debian/bitgrin/
